* {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif ;
    margin: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--noir);
}

:root {
    --blanc: #f6f6f6;
    --gris: #434343;
    --noir: #1A1A1A;
}  

body {
    overflow-x: hidden;
}

/* -- header -- */

header {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url("../img/img_arriere_plan/Space_sky_01.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    text-align: center;
    color: var(--blanc);
}
header h1 {
    font-size: clamp(24px, 5vh, 42px);
    padding: 30px;
    padding-top: 70px;
}
header div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 30px;
}

/* -- appel -- */

.appel {
    position: absolute;
    width: 100%;
    bottom: 60px;
}
.appel .fleche {
    position: absolute;
    height: 8vh;
    width: 8vh;
    transform: translateX(-50%);
}
.appel .fleche.un {
    bottom: 1vh;
}
.appel .fleche.deux {
    bottom: 3vh;
}
.appel .fleche.trois {
    bottom: 5vh;
}

/* -- main chapitre -- */

.chapt {
    position: relative;
    height: 100vh;
    aspect-ratio: 16/9;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    overflow: hidden;
}
#chapitre-1 {
    background-image: url("../img/img_arriere_plan/blue-sky_01.png");
    background-size: auto 100%;
}
#chapitre-2 {
    background-image: url("../img/img_arriere_plan/blue-sky_01.png" );
    background-size: auto 100%;
}
#chapitre-3 {
    background-image: url("../img/img_arriere_plan/Weather_sky_01.png" );
    background-size: auto 100%;
}
#chapitre-6 {
    background-image: url("../img/img_arriere_plan/Space_sky_01.png" );
    background-size: auto 100%;
}

/* -- spritesheettest -- */

.spritearray {
    height: 200vh;
}

/* -- sprite pluie -- */
.sprite {
    width: 100%;
    aspect-ratio: 16/9;
    background-image: url("../img/img_elements_visuels/plui_sprite-sheet.png");
    background-size: cover;
    background-position: 0 0;
    animation-name: marche;
    animation-duration: 1s;
    animation-iteration-count: infinite;
     animation-timing-function: steps(8);
     animation-play-state: paused;
}
@keyframes marche {
    from { background-position: 0 0; }
    to { background-position: 800% 0; } 
  }

  /* -- sprite fusee -- */
  .sprite2 {
    aspect-ratio: 9/16;
    background-image: url("../img/img_personnages/fusee-spritesheet.png");
    background-size: cover;
    background-position: 0 0;
    animation-name: decole;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
}
@keyframes decole {
    from { background-position: 0 0; }
    to { background-position: -400% 0; } 
  }

  /* -- sprite sous-marins -- */
  .sprite3 {
    width: 25%;
    aspect-ratio: 16/9;
    background-image: url("../img/img_personnages/sous-marin_sprite.png");
    background-size: cover;
    background-position: 0 0;
    animation-name: plongee;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(8);
}
@keyframes plongee {
    from { background-position: 0 0; }
    to { background-position: -800% 0; } 
  }

  .is-scrolling .sprite {
    animation-play-state: running;
  }

  ul.technique-gsap{
    background: rgba(0,0,0,0.3);
    color: white;
    font-size: 10px;
    font-family: monospace;
    font-weight: 400;
    width: auto;
    display: inline-block;
    padding: 10px 20px 12px 20px;
    margin: 0;
    max-width: 300px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

ul.technique-gsap li{
    margin: 5px 0;
}

  /* -- img chapitre-1 -- */

  #chapitre-1 .voiture {
    position: absolute;
    height: 25%;
    bottom: 20%;
    left: -15%;
  }
  #chapitre-1 .route {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    object-fit:cover;
  }
  #chapitre-1 .mongolfiere {
    position: absolute;
    height: 35%;
    bottom: -35%;
    left: 65%
  }
  #chapitre-1 .nuage-1 {
    position: absolute;
    height: 18%;
    top: 5%;
    right: 10%;
  }
  #chapitre-1 .nuage-2 {
    position: absolute;
    height: 15%;
    top: 20%;
    right: 35%;
  }
  #chapitre-1 .nuage-3 {
    position: absolute;
    height: 20%;
    top: 10%;
    right: 70%;
  }

  /* -- img chapitre-2 -- */

  #chapitre-2 .mongolfiere {
    position: absolute;
    height: 35%;
    bottom: -35%;
    left: 10%
  }
  #chapitre-2 .nuage-2 {
    position: absolute;
    height: 18%;
    top: 5%;
    right: 10%;
  }
  #chapitre-2 .nuage-3 {
    position: absolute;
    height: 15%;
    top: 20%;
    right: 35%;
  }
  #chapitre-2 .nuage-1 {
    position: absolute;
    height: 20%;
    top: 10%;
    right: 70%;
  }

  /* -- img chapitre-3 -- */

  #chapitre-3 .mongolfiere {
    position: absolute;
    height: 35%;
    bottom: 35%;
    left: -20%;
  }

  /* -- img chapitre-4-5 -- */

  #chapitre-4-5 .background {
    position: absolute;
    width: 100%;
  }

  #chapitre-4-5 .mongolfiere {
    position: absolute;
    height: 35%;
    top: -35%;
    left: 25%;
  }

  #chapitre-4-5 .bateau {
    position: absolute;
    height: 60%;
    bottom: -60%;
    left: 25%;
  }
  #chapitre-4-5 .vague-1 {
    position: absolute;
    width: 100%;
    bottom: -80%;
  }
  #chapitre-4-5 .vague-2 {
    position: absolute;
    width: 100%;
    bottom: -80%;
  }
  #chapitre-4-5 .vague-3 {
    position: absolute;
    width: 100%;
    bottom: -80%;
  }
  .sous-marins {
    position: absolute;
    width: 35%;
    bottom: 50%;
    left: -35%
  }
  .bulle-1 {
    position: absolute;
    width: 20%;
    bottom: -40%;
    left: 75%
  }
  .bulle-2 {
    position: absolute;
    width: 20%;
    bottom: -40%;
    left: 45%
  }
  .bulle-3 {
    position: absolute;
    width: 20%;
    bottom: -40%;
    left: 15%
  }
  .poisson-jaune {
    position: absolute;
    width: 20%;
    bottom: 68%;
    left: -20%
  }
  .poisson-rouge {
    position: absolute;
    width: 20%;
    bottom: 38%;
    left: 100%
  }
  .poisson-vert {
    position: absolute;
    width: 20%;
    bottom: 0%;
    left: -20%
  }
  

  /* -- img chapitre-6 -- */

  #chapitre-6 .planete-1 {
    position: absolute;
    height: 50%;
    bottom: 45%;
    left: 70%
  }
  #chapitre-6 .planete-2 {
    position: absolute;
    height: 75%;
    bottom: -23%;
    left: 50%;
  }
  .fusee{
    width: 10%;
    position: absolute;
    bottom: 40%;
    left: -20%;
  }

/* text */

.chapt .text {
  position: absolute;
  top: 5vh;
  width: 100%;
  padding: 0 10%;
  text-align: center;
  color: var(--blanc);
  font-size: clamp(10px, 5vh, 42px);
  opacity: 0%;
}
.chapt .text-2 {
  position: absolute;
  top: 5vh;
  width: 100%;
  padding: 0 10%;
  text-align: center;
  color: var(--blanc);
  font-size: clamp(10px, 5vh, 42px);
  opacity: 0%;
}